<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.4/dist/vuetify.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/pouchdb@8.0.1/dist/pouchdb.min.js"></script>
</head>

<body>
	<div id="app">
		<v-app>
			<v-app-bar name="app-bar">
				<template v-slot:prepend>
					<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
				</template>

				<v-app-bar-title>Interval</v-app-bar-title>
			</v-app-bar>

			<v-navigation-drawer v-model="drawer">
				<div class="px-3">
					<h3 class="my-3">Exercise</h3>
					<v-text-field type="number" label="Number of exercises" v-model="data.exercises" @change="save"></v-text-field>
					<v-text-field type="number" label="Seconds per exercise" v-model="data.seconds" @change="save"></v-text-field>
					<v-text-field type="number" label="Rest between exercises" v-model="data.rest" @change="save"></v-text-field>
					<v-text-field type="number" label="Reps" v-model="data.reps" @change="save"></v-text-field>

					<div>Time per set: {{ setTimeText }}</div>

					<h3 class="my-3">Sets</h3>
					<v-text-field type="number" label="Sets" v-model="data.sets" @change="save"></v-text-field>
					<v-text-field type="number" label="Rest between sets" v-model="data.setrest" @change="save"></v-text-field>

					<div>Total time: {{ totalTime }}</div>

				</div>
			</v-navigation-drawer>

			<v-main class="ma-3 text-center">

				<h1 v-if="parseInt(data.sets) > 1">Set {{ set }} / {{ data.sets }}</h1>
				<h1>{{ activeText }}</h1>

				<v-progress-circular v-model="percent" size="200" width="20" color="primary">
					<div style="font-size:4em">{{ count }}</div>
				</v-progress-circular>

				<div v-if="interval">
					<v-btn @click="pause" class="mt-3" color="primary">stop</v-btn>
				</div>
				<div v-else>
					<v-btn @click="start" class="mt-3" color="primary">start</v-btn>
				</div>

			</v-main>

		</v-app>
	</div>

	<script>
		const { createApp } = Vue
		const { createVuetify } = Vuetify

		const vuetify = createVuetify()

		createApp({
			computed: {
				percent() {
					return Math.ceil(100 / this.maxTime * this.count);
				},

				setTime() {
					let time = (parseInt(this.data.seconds) + parseInt(this.data.rest)) * this.data.exercises * this.data.reps;

					return time;
				},

				setTimeText() {
					return Math.floor(this.setTime / 60) + ':' + (this.setTime % 60).toString().padStart(2, '0');
				},

				totalTime() {
					let total = (this.setTime + parseInt(this.data.setrest)) * this.data.sets;

					if(parseInt(this.data.sets) > 1)
						total -= parseInt(this.data.setrest);

					return Math.floor(total / 60) + ':' + (total % 60).toString().padStart(2, '0');
				},

				maxTime() {
					let max = 0;

					switch(this.active) {
						case 0:
							max = this.data.prepare;
							break;
						case 1:
							max = this.data.seconds;
							break;
						case 2:
							max = this.data.rest;
							break;
						case 3:
							max = this.data.setrest;
							break;
						case 4:
							max = 1;
							break;
					}

					return max;
				},

				activeText() {
					let text = '';

					switch(this.active) {
						case 0:
							text = 'Prepare'
							break;
						case 1:
							text = 'Exercise ' + this.exercise;
							text += ' (' + this.rep + ' / ' + this.data.reps + ')';
							break;
						case 2:
							text = 'Rest';
							break;
						case 3:
							text = 'Rest between sets';
							break;
						case 4:
							text = 'END';
							break;
					}

					return text;
				},
			},

			data() {
				return {
					db: new PouchDB('interval'),

					drawer: false,

					data: {
						seconds: 30,
						exercises: 2,
						reps: 5,
						rest: 0,
						sets: 2,
						setrest: 60,
						prepare: 4,
					},

					active: 0,
					count: 1,
					exercise: 1,
					rep: 1,
					set: 1,
					interval: null,
					audio: null,
					default: "data:audio/mpeg;base64,SUQzBAAAAAABEVRYWFgAAAAtAAADY29tbWVudABCaWdTb3VuZEJhbmsuY29tIC8gTGFTb25vdGhlcXVlLm9yZwBURU5DAAAAHQAAA1N3aXRjaCBQbHVzIMKpIE5DSCBTb2Z0d2FyZQBUSVQyAAAABgAAAzIyMzUAVFNTRQAAAA8AAANMYXZmNTcuODMuMTAwAAAAAAAAAAAAAAD/80DEAAAAA0gAAAAATEFNRTMuMTAwVVVVVVVVVVVVVUxBTUUzLjEwMFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVf/zQsRbAAADSAAAAABVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVf/zQMSkAAADSAAAAABVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV",
				};
			},

			mounted() {
				this.db.get('interval').then(doc => {
				    this.data = doc;

					if(!this.data.prepare) {
						this.data.prepare = 4;
						this.save();
					}

					this.count = parseInt(this.data.prepare);
				}).catch(() => {
				    this.data = { ...{ _id: 'interval' }, ...this.data };

				    this.save();
				});

				this.audio = new Audio();
				this.audio.autoplay = true;
			},

			methods: {
				save() {
					this.db.put(this.data);
				},

				beep() {
					this.audio.src = 'beep.mp3';

					window.setTimeout(() => { this.audio.src = this.default }, 4000);
				},

				start() {
					this.audio.src = this.default;

					this.count = parseInt(this.data.prepare);
					this.active = 0;
					this.exercise = 1;
					this.rep = 1;
					this.set = 1;

					this.interval = window.setInterval(this.down, 1000);
				},

				pause() {
					this.audio.src = this.default;

					window.clearInterval(this.interval);
					this.interval = null;
				},

				down() {
					this.count--;

					if(this.count == 3)
						this.beep();

					if(this.count < 0) {
						switch(parseInt(this.active)) {
							case 0:
								this.active = 1;
								this.count = parseInt(this.data.seconds);
								break;
							case 1:
							case 2:
								if (parseInt(this.data.rest) > 0 && this.active == 1) {
									this.active = 2;
									this.count = parseInt(this.data.rest);
								} else {
									this.active = 1;
									this.count = parseInt(this.data.seconds);
									this.exercise++;

									if (this.exercise > parseInt(this.data.exercises)) {
										this.exercise = 1;
										this.rep++;

										if(this.rep > parseInt(this.data.reps)) {
											if(this.set >= this.data.sets) {
												this.active = 4;

												this.pause();
												this.beep();
											} else {
												this.active = 3;
												this.count = parseInt(this.data.setrest);
											}
										}
									}
								}
							break;
							case 3:
								this.active = 1;
								this.exercise = 1;
								this.rep = 1;
								this.set++;
								this.count = parseInt(this.data.seconds);
								break;
						}

					}
				},
			}
		}).use(vuetify).mount('#app')
	</script>

</body>

</html>